## Homework 2: Arrays and Tables
(15 pts)

Reading:
- Chapter 4 - *Data Types*
- Chapter 5 - *Tables*

Please complete this notebook by filling in the cells provided. Before you begin, execute the following cell to load the provided tests. 

Each time you reload this file, you will need to execute this cell again to import the necessary packages and load the tests.

In [1]:
# Don't change this cell; just run it. 
import numpy as np
from datascience import *

from client.api.notebook import Notebook
ok = Notebook('hw02.ok')

=====================================================================
Assignment: Homework 2: Arrays and Tables
OK, version v1.18.1
=====================================================================

**Important**: The `ok` tests don't always tell you that your answer is correct. More often, they help catch careless mistakes. 

It's up to you to ensure that your answer is correct. If you're not sure, ask someone for some guidance about your approach, not for the answer.

Directly sharing answers is not okay, but discussing problems with the course staff or with other students is encouraged. 

You should start early so that you have time to get help if you're stuck.

### 1. Studying the Survivors

**Question 1-1:** The Reverend Henry Whitehead was skeptical of John Snow’s conclusion about the Broad Street pump.

He observed that Snow had focused his analysis almost entirely on those who had died. Whitehead, instead, investigated the drinking habits of people in the Broad Street area who had not died in the outbreak.

What is the main reason it was important to study this group?

1. If Whitehead had found that many people had drunk water from the Broad Street pump and not caught cholera, that would have been evidence against Snow's hypothesis.

2. Survivors could provide additional information about what else could have caused the cholera, potentially unearthing another cause.

3. Through considering the survivors, Whitehead could have identified a cure for cholera.

Replace `?` with the number of the correct answer.

In [2]:
# Set survivor_answer to 1, 2, or 3
survivor_answer = 1
survivor_answer

1

In [3]:
_ = ok.grade('q1_1')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Note:** Whitehead ended up finding further proof that the Broad Street pump played the central role in spreading the disease to the people who lived near it. Eventually, he became one of Snow’s greatest defenders.

### 2. Creating Arrays

**Question 2-1.** Make an array called `weird_numbers` containing the following numbers (in the given order):

1. -2
2. the sine of 1.2
3. 3
4. 5 to the power of the cosine of 1.2

*Hint:* `sin` and `cos` are functions in the `math` module.

In [4]:
# Our solution involved one extra line of code before creating
# weird_numbers.
import math
weird_numbers = make_array(-2, math.sin(1.2), 3, math.pow(5, math.cos(1.2)))
weird_numbers

array([-2.        ,  0.93203909,  3.        ,  1.79174913])

In [5]:
_ = ok.grade('q2_1')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 2-2.** Make an array called `book_title_words` containing the following three strings: "Eats", "Shoots", and "and Leaves".

In [10]:
book_title_words = make_array("Eats", "Shoots", "and Leaves")
book_title_words

array(['Eats', 'Shoots', 'and Leaves'],
      dtype='<U10')

In [9]:
_ = ok.grade('q2_2')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

Strings have a method called `join`.  `join` takes one argument, an array of strings.  It returns a single string.  

Specifically, the value of `a_string.join(an_array)` is a single string that's the concatenation, or putting together, of all the strings in `an_array`, **except** `a_string` is inserted in between each string

**Question 2-3.** Use the array `book_title_words` and the method `join` to make two strings:

1. "Eats, Shoots, and Leaves" (call this one `with_commas`)
2. "Eats Shoots and Leaves" (call this one `without_commas`)

*Hint:* If you're not sure what `join` does, first try just calling, for example, `"foo".join(book_title_words)` .

In [18]:
with_commas = ", ".join(book_title_words)
without_commas =  " ".join(book_title_words)

# These lines are provided just to print out your answers.
print('with_commas:', with_commas)
print('without_commas:', without_commas)

with_commas: Eats, Shoots, and Leaves
without_commas: Eats Shoots and Leaves

In [19]:
_ = ok.grade('q2_3')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

### 3. Indexing Arrays

These exercises give you practice accessing individual elements of arrays.  

In Python and most other programming languages, elements are accessed by *index*, and the first element is the element at index `0`.

**Question 3-1.** The cell below creates an array of some numbers.  Set `third_element` to the third element of `some_numbers`.

In [20]:
some_numbers = make_array(-1, -3, -6, -10, -15)

third_element = some_numbers[2]
third_element

-6

In [21]:
_ = ok.grade('q3_1')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 3-2.** The next cell creates a table that displays some information about the elements of `some_numbers` and their order.  

Run the cell to see the partially-completed table, then fill in the missing information in the cell (the strings that are currently `???`) to complete the table.

In [24]:
elements_of_some_numbers = Table().with_columns(
    "English name for position", make_array("first", "second", "third", "fourth", "fifth"),
    "Index",                     make_array("0", "1", "2", "3", "4"),
    "Element",                   some_numbers)
elements_of_some_numbers

English name for position | Index | Element
first                     | 0     | -1
second                    | 1     | -3
third                     | 2     | -6
fourth                    | 3     | -10
fifth                     | 4     | -15

In [25]:
_ = ok.grade('q3_2')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 3-3.** You'll sometimes want to find the *last* element of an array.  Suppose an array has 142 elements.  What is the index of its last element?

In [26]:
index_of_last_element = 141
index_of_last_element

141

In [27]:
_ = ok.grade('q3_3')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

More often, you don't know the number of elements in an array, sometimes called its *length*.  

The function `len` takes a single argument, an array, and returns the `len`gth of that array in the form of an integer.

**Question 3-4.** The cell below loads an array called `president_birth_years`.  The last element in that array is the most recent birth year of any deceased president. 

Assign that year to `most_recent_birth_year`.

In [30]:
president_birth_years = Table.read_table("president_births.csv").column('Birth Year')

most_recent_birth_year = len(president_birth_years)
most_recent_birth_year

38

In [31]:
_ = ok.grade('q3_4')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Question 3_4 > Suite 1 > Case 1

>>> most_recent_birth_year
38

# Error: expected
#     1917
# but got
#     38

Run only this test case with "python3 ok -q q3_4 --suite 1 --case 1"
---------------------------------------------------------------------
Test summary
    Passed: 0
    Failed: 1
[k..........] 0.0% passed

### 4. Basic Array Arithmetic

**Question 4-1.** Multiply the numbers 42, 4224, 42422424, and -250 by 157.  

For this question, **don't** use arrays.

In [ ]:
first_product = ?
second_product = ?
third_product = ?
fourth_product = ?
print(first_product, second_product, third_product, fourth_product)

In [ ]:
_ = ok.grade('q4_1')

**Question 4-2.** Now, do the same calculation, but using an array called `numbers` and only a single multiplication (`*`) operator.  

Store the 4 results in an array named `products`.

In [ ]:
numbers = ?
products = ?
products

In [ ]:
_ = ok.grade('q4_2')

**Question 4-3.** Oops, we made a typo!  Instead of 157, we wanted to multiply each number by 1577.  

Compute the fixed products in the cell below using array arithmetic.  Notice that your job is really easy if you previously defined an array containing the 4 numbers.

In [ ]:
fixed_products = ?
fixed_products

In [ ]:
_ = ok.grade('q4_3')

**Question 4-4.** In the next cell, we're loading an array of temperatures in the next cell.  Each number is the highest temperature observed on a day at a climate observation station, mostly from the US.  Since they're from the National Oceanic and Atmospheric Administration, a US government agency, all the temperatures are in Fahrenheit.  

Convert them all to Celsius by first subtracting 32 from them, then multiplying the results by $\frac{5}{9}$. 

Round each result to the nearest integer using the `np.round` function.

In [ ]:
max_temperatures = Table.read_table("temperatures.csv").column("Daily Max Temperature")

celsius_max_temperatures = ?
celsius_max_temperatures

In [ ]:
_ = ok.grade('q4_4')

**Question 4-5.** The cell below loads all the *lowest* temperatures from each day in Fahrenheit.  

Compute the size of the daily temperature range for each day.  That is, compute the difference between each daily maximum temperature and the corresponding daily minimum temperature.  

**Note:** Don't round the values this time.

In [ ]:
min_temperatures = Table.read_table("temperatures.csv").column("Daily Min Temperature")
?
?
celsius_temperature_ranges = ?
celsius_temperature_ranges

In [ ]:
_ = ok.grade('q4_5')

### 5. Old Faithful

Old Faithful is a geyser in Yellowstone National Park that erupts every 44 to 125 minutes, according to Wikipedia. In fact the waiting time between eruptions is more variable. Let's take a look.

**Question 5-1.** The first line below assigns `waiting_times` to an array of 272 consecutive waiting times between eruptions, taken from a classic 1938 dataset. 

Assign the names `shortest`, `longest`, and `average` so that the `print` statement is correct.

In [ ]:
waiting_times = Table.read_table('old_faithful.csv').column('waiting')
shortest = ?
longest = ?
average = ?

print("Old Faithful erupts every", shortest, "to", longest, "minutes and every", average, "minutes on average.")

In [ ]:
_ = ok.grade('q5_1')

**Question 5-2.** Assign `biggest_decrease` to the biggest descrease in waiting time between two consecutive eruptions. 

For example, the third eruption occurred after 74 minutes and the fourth after 62 minutes, so the decrease in waiting time was 74 - 62 = 12 minutes. 

*Hint*: You'll need an array arithmetic function. See Chapter 4.4 - *Arrays*, in the textbook.

In [ ]:
biggest_decrease = ?
biggest_decrease

In [ ]:
_ = ok.grade('q5_2')

**Question 5-3.** If you expected Old Faithful to erupt every hour, you would expect to wait a total of `60 * k` minutes to see `k` eruptions. 

Set `difference_from_expected` to an array with 272 elements, where the element at index `i` is the absolute difference between the expected and actual total amount of waiting time to see the first `i+1` eruptions. 

*Hint*: You'll need to compare a cumulative sum to a range.

For example, since the first three waiting times are 79, 54, and 74, the total waiting time for 3 eruptions is 79 + 54 + 74 = 207. The expected waiting time for 3 eruptions is 60 * 3 = 180. 

Therefore, `difference_from_expected.item(2)` should be $|207 - 180| = 27$.

In [ ]:
?
?
difference_from_expected = ?
difference_from_expected

In [ ]:
_ = ok.grade('q5_3')

**Question 5-4.** If instead you guess that each waiting time will be the same as the previous waiting time, how many minutes would your guess differ from the actual time, averaging over every wait time except the first one?

For example, since the first three waiting times are 79, 54, and 74, the average difference between your guess and the actual time for just the second and third eruption would be $\frac{|79-54|+ |54-74|}{2} = 22.5$.

In [ ]:
?
?
?
average_error = ?
average_error

In [ ]:
_ = ok.grade('q5_4')

### 6. Tables

**Question 6-1.** Suppose you have 4 apples, 3 oranges, and 3 pineapples.  

Create a table that contains this information.  It should have two columns: "fruit name" and "count".  

Give it the name `fruits`.

**Note:** Use lower-case and singular words for the name of each fruit, like `"apple"`.

In [ ]:
fruits = ?
fruits

In [ ]:
_ = ok.grade('q6_1')

**Question 6-2.** The file `inventory.csv` contains information about the inventory at a fruit stand.  Each row represents the contents of one box of fruit.  

Load it as a table named `inventory`.

In [ ]:
inventory = ?
inventory

In [ ]:
_ = ok.grade('q6_2')

**Question 6-3.** Does each box at the fruit stand contain a different fruit?

In [ ]:
# Set all_different to "Yes" if each box contains a different fruit or to "No" if multiple boxes contain the same fruit
all_different = ?
all_different

In [ ]:
_ = ok.grade('q6_3')

**Question 6-4.** The file `sales.csv` contains the number of fruit sold from each box last Saturday.  It has an extra column called "price per fruit (\$)" that's the price *per item of fruit* for fruit in that box.  The rows are in the same order as the `inventory` table.  

Load these data into a table called `sales`.

In [ ]:
sales = ?
sales

In [ ]:
_ = ok.grade('q6_4')

**Question 6-5.** How many fruits did the store sell in total on that day?

In [ ]:
# Column is a numpy array, so have to use numpy method
total_fruits_sold = ?
total_fruits_sold

In [ ]:
_ = ok.grade('q6_5')

**Question 6-6.** What was the store's total revenue (the total price of all fruits sold) on that day?

*Hint:* If you're stuck, think first about how you would compute the total revenue from just the grape sales.

In [ ]:
# The ?s are just suggested number of statements. Could use fewer. 
?
?
?
?

In [ ]:
?
?
total_revenue = ?
total_revenue

In [ ]:
_ = ok.grade('q6_6')

**Question 6-7.** Make a new table called `remaining_inventory`.  

It should have the same rows and columns as `inventory`, except that the amount of fruit sold from each box should be subtracted from that box's count, so that the "count" is the amount of fruit remaining after Saturday.

In [ ]:
# The ?s are just suggested number of statements. Could use fewer. 
?
?
?
?
?
?

In [ ]:
?
remaining_inventory = ?
remaining_inventory

In [ ]:
_ = ok.grade('q6_7')